<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <div class="login-container">
        <h1 class="text">Sign Up</h1>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <form method="POST" action="/signup">
            <label for="username">Username:</label>
            <div class="input-group">
                <input type="text" id="username" name="username" required>
            </div>
            <br><br>

            <label for="email">Email:</label>
            <div class="input-group">
                <input type="email" id="email" name="email" required>
            </div>
            <br><br>

            <label for="password">Password:</label>
            <div class="input-group">
                <input type="password" id="password" name="password" required>
            </div>
            <br><br>

            <button class="login-btn" type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a>.</p>
    </div>
</body>
</html>